/*
Place your custom CSS here
*/
.responsive-tabs ul.tabcontainer-tabs {
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CBCBCB;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
}



.responsive-tabs .tabcontainer-tabs>li>a {
    margin-right: 0;
    font-weight: 400;
    background-color: #f0f0f0;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-top: none;
    border-right: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    border-radius: 0;
    max-width: 180px;
    padding: 16px 40px;
    cursor: pointer;
    color: #666666;
}

.responsive-tabs .tabcontainer-tabs>li>a:hover,
.responsive-tabs .tabcontainer-tabs>li>a:focus {
    background-color: #CBCBCB;
    text-decoration: none;
}

.responsive-tabs .tabcontainer-tabs>li:last-child>a {
    border-right-color: #f0f0f0;
}

.responsive-tabs .tabcontainer-tabs>li.tab-active>a,
.responsive-tabs .tabcontainer-tabs>li.tab-active>a:hover,
.responsive-tabs .tabcontainer-tabs>li.tab-active>a:focus {
    color: #111;
    border: none;
    border-bottom-color: #fff;
    border-right: 1px solid #CBCBCB;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    border-radius: 0;
    background-color: #fff;
    box-shadow: inset 0px 2px 0px 0px #CA261A;
}

.mx-tabcontainer-content .tab-pane {
    display: none;
}

.mx-tabcontainer-content .tab-pane.pane-active {
    display: block;
}

/* Mobile styles */
.responsive-tabs.mobile ul.tabcontainer-tabs {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
}

.responsive-tabs.mobile .tabcontainer-tabs>li {
    width: 100%;
    margin-bottom: 64px;
}

.responsive-tabs.mobile .tabcontainer-tabs>li.tab-active>a,
.responsive-tabs.mobile .tabcontainer-tabs>li.tab-active>a:hover,
.responsive-tabs.mobile .tabcontainer-tabs>li.tab-active>a:focus {
    border-right: none;
    border-bottom: 1px solid #CBCBCB;
    display: block;
    padding-left: 0;
    padding-right: 0;
    max-width: unset;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #333333;
    font-weight: 400;
}